
.container{
    text-align: center;
    margin-top: 15px;
}

table{
    margin: auto;
}

input{
    width: 400px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 24px;
    margin: 14px;
}

button{
    font-size: 25px;
    height: 84px;
    width: 75px;
    border-radius: 20px;
}

.calculator{
    display: inline-block;
    border-radius: 34px;
    /* padding: 23px; */
    background-color: rgb(68, 64, 70);
    padding: 16px;
    /* margin: 2px; */
}

h3{
    text-decoration:underline;
    font-size: 50px;
    color: rgb(82, 77, 118);
}